@charset "UTF-8";

@font-face {
    font-family: 'Bebas';
    src: url('../fontes/BebasNeue-Regular.ttf') format(truetype);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #BF0615;
    --cor2: #59040C;
    --cor3: #D97777;
    --cor4: #F2F2F2;
    --cor5: #0D0D0D;

    --fonte-bebas: 'bebas', cursive;
}

body {
    background-color: #D97777;
}

header {
    font-family: 'Bebas', cursive;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    padding: 20px;
    text-align: center;
}

header > h1 {
    color: white;
}

header > p {
    color: white;
    font-size: 1.3em;
}

nav {
    background-color: #0D0D0D;
    margin-bottom: 10px;
}

nav > a {
    color: #F2F2F2;
    padding: 10px;
    
}

nav > a:hover {
    background-color: #59040C;
    color: #D97777;
    border-radius: 10px;
    transition-duration: 1s;
}

main {
    min-width: 300px;
    max-width: 600px;
    background-color: var(--cor4);
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
    margin-bottom: 10px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 10px;
    font-family: 'Bebas', cursive;
}

main h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 10px;
}

main > p {
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main img.pq {
    width: 100%;
}

main > p > a {
    font-weight: bold;
    background-color: #D97777;
    padding: 1px;
}

main a::after {
    content: '\1F517';
}

aside {
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    background-color: #59040C;
    padding: 10px;
    border-radius: 10px;
}

aside > h2 {
    color: #F2F2F2;
}

aside > p {
    color: #F2F2F2;
    text-indent: 30px;
    text-align: justify;
}

div {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin: auto;
}

